<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}"></head>
<body>
<header th:replace="~{layout/layout :: header}"></header>

<div class="container py-4">
    <div class="card">

        <div class="card-header">
            <h2 th:text="${titulo}"></h2>
        </div>

        <div class="class-body">

            <h4 class="card-title px-3">
                <a th:href="@{/form-secretario}" class="btn-outline-primary"> Crear Secretario</a>
            </h4>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Tipo. doc</th>
                    <th>N° de dni</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Telefono</th>
                    <th>Dirección</th>
                    <th>Sexo</th>
                    <th>Fecha. Nac</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="secretario : ${secretarios}">
                    <div th:if="${secretario.eliminado != true}">
                        <td th:text="${secretario.tipoDoc}"></td>
                        <td th:text="${secretario.dni}"></td>
                        <td th:text="${secretario.nombre}"></td>
                        <td th:text="${secretario.apellido}"></td>
                        <td th:text="${secretario.telefono}"></td>
                        <td th:text="${secretario.direccion}"></td>
                        <td th:text="${secretario.sexo}"></td>
                        <td th:text="${#temporals.format(secretario.fechaDeNacimiento,'dd-MM-yyyy')}"></td>
                        <td><a class="btn btn-warning" th:href="@{/form-secretario/} + ${secretario.dni}">Editar</a>
                        </td>
                        <td><a class="btn btn-danger" th:href="@{/eliminar-secretario/} + ${secretario.dni}"
                               onclick="return confirm('Esta seguro de eliminar?')">Eliminar</a></td>
                    </div>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<footer th:replace="~{layout/layout :: footer}"></footer>
</body>
</html>